@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== Horizontal scrollbar styling ===== */

.custom-scrollbar::-webkit-scrollbar {
  height: 3px;              /* thickness */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(45, 212, 191, 0.6); /* teal */
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(45, 212, 191, 0.9);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(45, 212, 191, 0.6) transparent;
}

